absl-py==0.2.2
appnope==0.1.0
asn1crypto==0.24.0
astor==0.7.0
backcall==0.1.0
beautifulsoup4==4.6.0
bleach==1.5.0
blinker==1.4
boto==2.48.0
cachetools==2.1.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cloud-init==17.1
command-not-found==0.3
configobj==5.0.6
cryptography==2.2.2
cycler==0.10.0
Cython==0.28.3
decorator==4.3.0
defer==1.0.6
entrypoints==0.2.3
future==0.16.0
futures==3.1.1
gast==0.2.0
google-api-core==1.2.1
google-auth==1.5.0
google-cloud-core==0.28.1
google-cloud-storage==1.10.0
google-compute-engine==2.8.3
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
grpcio==1.13.0
h5py==2.8.0
html5lib==0.9999999
idna==2.6
inflection==0.3.1
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
jedi==0.12.1
Jinja2==2.10
jsonpatch==1.23
jsonpointer==2.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.1.6
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
kiwisolver==1.0.1
language-selector==0.1
lxml==4.2.3
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
more-itertools==4.2.0
nbconvert==5.3.1
nbformat==4.4.0
ndg-httpsclient==0.5.0
notebook==5.5.0
numpy==1.14.5
oauthlib==2.1.0
opencv-python==3.4.1.15
pandas==0.23.1
pandas-datareader==0.6.0
pandocfilters==1.4.2
parso==0.3.0
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
pip==10.0.1
prettytable==0.7.2
prompt-toolkit==1.0.15
protobuf==3.6.0
ptyprocess==0.6.0
pyasn1==0.4.3
pyasn1-modules==0.2.2
pycparser==2.18
pycups==1.9.73
pycurl==7.43.0
Pygments==2.2.0
pygobject==3.20.0
PyJWT==1.6.4
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyserial==3.4
pystan==2.17.1.0
python-apt==1.1.0b1
python-dateutil==2.7.3
python-debian==0.1.32
python-systemd==231
pytz==2018.5
pyxdg==0.26
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
Quandl==3.4.0
requests==2.19.1
requests-file==1.4.3
requests-ftp==0.3.1
rsa==3.4.2
scikit-learn==0.19.1
scipy==1.1.0
screen-resolution-extra==0.0.0
Send2Trash==1.5.0
setuptools==39.1.0
simplegeneric==0.8.1
six==1.11.0
ssh-import-id==5.6
system-service==0.3
tensorboard==1.8.0
tensorflow-gpu==1.8.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.0.2
traitlets==4.3.2
ufw==0.35
unattended-upgrades==0.1
urllib3==1.23
virtualenv==16.0.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wheel==0.31.1
widgetsnbextension==3.2.1
wrapt==1.10.11
xkit==0.0.0
xlrd==1.1.0